n8n/nexus-sheets-workflow.json
{
  "name": "Nexus Sheets Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "QuoteBuilder",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "4223f874-69da-4ab8-8165-ef51bda0ee0d",
      "name": "GenerateProposal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "webhookId": "33f82467-6af2-4f4c-904f-c43e748a0541"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://stargtm.onrender.com/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": { "responseFormat": "file" }
          }
        }
      },
      "id": "de8efde5-74ed-4f86-9414-358f5628f1bd",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [224, 0]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/pdf" }
            ]
          }
        }
      },
      "id": "27a1ba17-95f3-4175-8cf6-adcb32a61f47",
      "name": "GenProposalTemplate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [448, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "LeadDataFetch",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "5cb01b36-819a-4c0f-8823-0cd877e977ad",
      "name": "SearchForLeads",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 240],
      "webhookId": "08a7fd28-1914-495d-9553-51a873f195d8"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1STCEp_UgqH1qoDskFj2rvb8xA9hCdXgntOPPWmCzV6o/edit?gid=1093857786#gid=1093857786",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1093857786,
          "mode": "list",
          "cachedResultName": "Enquiry - Lead Data (2026)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1STCEp_UgqH1qoDskFj2rvb8xA9hCdXgntOPPWmCzV6o/edit#gid=1093857786"
        },
        "options": {}
      },
      "id": "4ee429c8-60ea-4eae-99bc-6ad3b604eb03",
      "name": "Get Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [224, 240],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8aF9CpidfdOSoB9E",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Slim each lead to ONLY the fields the frontend needs.\nconst wanted = [\n  [\"Enquiry Date\", \"enquiryDate\"],\n  [\"Name\", \"name\"],\n  [\"Main Contact - Job Role\", \"jobRole\"],\n  [\"Company Name\", \"companyName\"],\n  [\"Company Sector\", \"companySector\"],\n  [\"Main Contact - Email\", \"email\"],\n  [\"Main Contact - Number\", \"phone\"],\n  [\"Client Reference Number\", \"referenceNumber\"],\n  [\"Source\", \"source\"],\n  [\"Best time to call\", \"bestTimeToCall\"],\n  [\"Market\", \"market\"],\n  [\"Event Type\", \"eventType\"],\n  [\"Year of Event\", \"yearOfEvent\"],\n  [\"Full Event Date\", \"fullEventDate\"],\n  [\"Event Date - Flexible?\", \"eventDateFlexible\"],\n  [\"Requested Event Times\", \"requestedEventTimes\"],\n  [\"Group Size\", \"groupSize\"],\n  [\"Budget\", \"budget\"],\n  [\"How did they hear about us?\", \"howHeard\"],\n  [\"Live/Dead\", \"status\"],\n];\n\nfunction norm(s) {\n  return String(s).replace(/\\s+/g, \" \").trim().toLowerCase();\n}\n\nfunction pick(row, prefix) {\n  const target = norm(prefix);\n  for (const key of Object.keys(row)) {\n    if (norm(key).startsWith(target)) return row[key];\n  }\n  return \"\";\n}\n\nconst leads = $input.all().map(item => {\n  const row = item.json;\n  const out = {};\n  for (const [prefix, alias] of wanted) {\n    out[alias] = pick(row, prefix);\n  }\n  return out;\n}).reverse();\n\nreturn [{ json: { count: leads.length, leads } }];"
      },
      "id": "1c4e744c-7866-4284-8cfb-e8b23cf8e71d",
      "name": "Structure all Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "c4f1c236-7691-405e-9563-72a33f729ee2",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [672, 240]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "LeadUpdate",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "a11b0001-lead-update-webhook",
      "name": "LeadUpdate Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 480],
      "webhookId": "lead-update-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Normalize LeadUpdate payload for Google Sheets write.\n// mode=demo → Nexus Ops tab (append/update by ref/email)\n// mode=live → Enquiry - Lead Data (2026)\nconst body = $input.first().json;\nconst mode = body.mode === 'live' ? 'live' : 'demo';\nconst lookup = String(body.referenceNumber || body.email || '').trim();\n\nconst row = {\n  mode,\n  lookup,\n  referenceNumber: body.referenceNumber || '',\n  email: body.email || '',\n  leadName: body.leadName || '',\n  status: body.status || '',\n  assignedRep: body.assignedRep || '',\n  nextAction: body.nextAction || '',\n  packageAbbreviation: body.packageAbbreviation || '',\n  vivaTag: body.vivaTag === true || body.vivaTag === 'true' ? 'YES' : (body.vivaTag === false || body.vivaTag === 'false' ? 'NO' : ''),\n  quoteBuilt: body.quoteBuilt === true ? 'YES' : (body.quoteBuilt === false ? 'NO' : ''),\n  quoteApproved: body.quoteApproved === true ? 'YES' : (body.quoteApproved === false ? 'NO' : ''),\n  quoteVersion: body.quoteVersion || '',\n  updatedAt: new Date().toISOString(),\n};\n\nreturn [{ json: row }];"
      },
      "id": "a11b0002-lead-update-normalize",
      "name": "Normalize LeadUpdate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 480]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "mode-live",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "live",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a11b0003-if-live",
      "name": "Is Live Mode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [448, 480]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1STCEp_UgqH1qoDskFj2rvb8xA9hCdXgntOPPWmCzV6o/edit?gid=1093857786#gid=1093857786",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1093857786,
          "mode": "list",
          "cachedResultName": "Enquiry - Lead Data (2026)"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client Reference Number": "={{ $json.referenceNumber }}",
            "Main Contact - Email": "={{ $json.email }}",
            "Live/Dead": "={{ $json.status }}",
            "Assigned Rep": "={{ $json.assignedRep }}",
            "Next Action": "={{ $json.nextAction }}",
            "Package Abbreviation": "={{ $json.packageAbbreviation }}",
            "Viva Tag": "={{ $json.vivaTag }}",
            "Quote Built": "={{ $json.quoteBuilt }}",
            "Quote Approved": "={{ $json.quoteApproved }}",
            "Quote Version": "={{ $json.quoteVersion }}"
          }
        },
        "options": {}
      },
      "id": "a11b0004-write-live",
      "name": "Write Live Enquiry Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [704, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8aF9CpidfdOSoB9E",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "notes": "LIVE writes. Ensure columns Assigned Rep / Next Action / Package Abbreviation / Viva Tag / Quote Built / Quote Approved / Quote Version exist (or map to your real headers)."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1STCEp_UgqH1qoDskFj2rvb8xA9hCdXgntOPPWmCzV6o/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Nexus Ops",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Updated At": "={{ $json.updatedAt }}",
            "Reference": "={{ $json.referenceNumber }}",
            "Email": "={{ $json.email }}",
            "Lead Name": "={{ $json.leadName }}",
            "Status": "={{ $json.status }}",
            "Assigned Rep": "={{ $json.assignedRep }}",
            "Next Action": "={{ $json.nextAction }}",
            "Package Abbreviation": "={{ $json.packageAbbreviation }}",
            "Viva Tag": "={{ $json.vivaTag }}",
            "Quote Built": "={{ $json.quoteBuilt }}",
            "Quote Approved": "={{ $json.quoteApproved }}",
            "Quote Version": "={{ $json.quoteVersion }}",
            "Mode": "demo"
          }
        },
        "options": {}
      },
      "id": "a11b0005-write-demo",
      "name": "Append Demo Nexus Ops",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [704, 560],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8aF9CpidfdOSoB9E",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "notes": "DEMO default. Create a tab named exactly Nexus Ops with these headers before first run."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, mode: $json.mode || 'demo' } }}",
        "options": {}
      },
      "id": "a11b0006-lead-update-respond",
      "name": "Respond LeadUpdate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [928, 480]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "NoteAppend",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "b22c0001-note-append-webhook",
      "name": "NoteAppend Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 760],
      "webhookId": "note-append-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nconst mode = body.mode === 'live' ? 'live' : 'demo';\nreturn [{\n  json: {\n    mode,\n    referenceNumber: body.referenceNumber || '',\n    email: body.email || '',\n    leadName: body.leadName || '',\n    note: body.note || '',\n    tag: body.tag || '',\n    createdAt: new Date().toISOString(),\n  }\n}];"
      },
      "id": "b22c0002-note-normalize",
      "name": "Normalize NoteAppend",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 760]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1STCEp_UgqH1qoDskFj2rvb8xA9hCdXgntOPPWmCzV6o/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Nexus Ops Notes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Created At": "={{ $json.createdAt }}",
            "Mode": "={{ $json.mode }}",
            "Reference": "={{ $json.referenceNumber }}",
            "Email": "={{ $json.email }}",
            "Lead Name": "={{ $json.leadName }}",
            "Tag": "={{ $json.tag }}",
            "Note": "={{ $json.note }}"
          }
        },
        "options": {}
      },
      "id": "b22c0003-note-write",
      "name": "Append Progress Note Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [448, 760],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8aF9CpidfdOSoB9E",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "notes": "Create tab Nexus Ops Notes. Demo and Live both append here with Mode column; Live can later also mirror into Enquiry if desired."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true } }}",
        "options": {}
      },
      "id": "b22c0004-note-respond",
      "name": "Respond NoteAppend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [672, 760]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "QuoteStatus",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "c33d0001-quote-status-webhook",
      "name": "QuoteStatus Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 1000],
      "webhookId": "quote-status-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nconst mode = body.mode === 'live' ? 'live' : 'demo';\nreturn [{\n  json: {\n    mode,\n    referenceNumber: body.referenceNumber || '',\n    email: body.email || '',\n    leadName: body.leadName || '',\n    quoteId: body.quoteId || '',\n    status: body.status || '',\n    version: body.version || '',\n    title: body.title || '',\n    grandTotal: body.grandTotal ?? '',\n    updatedAt: new Date().toISOString(),\n  }\n}];"
      },
      "id": "c33d0002-quote-normalize",
      "name": "Normalize QuoteStatus",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 1000]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1STCEp_UgqH1qoDskFj2rvb8xA9hCdXgntOPPWmCzV6o/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Nexus Ops Quotes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Updated At": "={{ $json.updatedAt }}",
            "Mode": "={{ $json.mode }}",
            "Reference": "={{ $json.referenceNumber }}",
            "Email": "={{ $json.email }}",
            "Lead Name": "={{ $json.leadName }}",
            "Quote Id": "={{ $json.quoteId }}",
            "Status": "={{ $json.status }}",
            "Version": "={{ $json.version }}",
            "Title": "={{ $json.title }}",
            "Grand Total": "={{ $json.grandTotal }}"
          }
        },
        "options": {}
      },
      "id": "c33d0003-quote-write",
      "name": "Append Quote Status Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [448, 1000],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8aF9CpidfdOSoB9E",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "notes": "Create tab Nexus Ops Quotes. Tracks built/approved + V1/V2/V3."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true } }}",
        "options": {}
      },
      "id": "c33d0004-quote-respond",
      "name": "Respond QuoteStatus",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [672, 1000]
    }
  ],
  "connections": {
    "GenerateProposal": {
      "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
    },
    "HTTP Request": {
      "main": [[{ "node": "GenProposalTemplate", "type": "main", "index": 0 }]]
    },
    "SearchForLeads": {
      "main": [[{ "node": "Get Leads", "type": "main", "index": 0 }]]
    },
    "Get Leads": {
      "main": [[{ "node": "Structure all Leads", "type": "main", "index": 0 }]]
    },
    "Structure all Leads": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "LeadUpdate Webhook": {
      "main": [[{ "node": "Normalize LeadUpdate", "type": "main", "index": 0 }]]
    },
    "Normalize LeadUpdate": {
      "main": [[{ "node": "Is Live Mode?", "type": "main", "index": 0 }]]
    },
    "Is Live Mode?": {
      "main": [
        [{ "node": "Write Live Enquiry Sheet", "type": "main", "index": 0 }],
        [{ "node": "Append Demo Nexus Ops", "type": "main", "index": 0 }]
      ]
    },
    "Write Live Enquiry Sheet": {
      "main": [[{ "node": "Respond LeadUpdate", "type": "main", "index": 0 }]]
    },
    "Append Demo Nexus Ops": {
      "main": [[{ "node": "Respond LeadUpdate", "type": "main", "index": 0 }]]
    },
    "NoteAppend Webhook": {
      "main": [[{ "node": "Normalize NoteAppend", "type": "main", "index": 0 }]]
    },
    "Normalize NoteAppend": {
      "main": [[{ "node": "Append Progress Note Row", "type": "main", "index": 0 }]]
    },
    "Append Progress Note Row": {
      "main": [[{ "node": "Respond NoteAppend", "type": "main", "index": 0 }]]
    },
    "QuoteStatus Webhook": {
      "main": [[{ "node": "Normalize QuoteStatus", "type": "main", "index": 0 }]]
    },
    "Normalize QuoteStatus": {
      "main": [[{ "node": "Append Quote Status Row", "type": "main", "index": 0 }]]
    },
    "Append Quote Status Row": {
      "main": [[{ "node": "Respond QuoteStatus", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
